// Primary
$reactionColor: hsl(0, 100%, 67%);
$reactionBg: hsla(0, 100%, 67%, 0.1);
$memoryColor: hsl(39, 100%, 56%);
$memoryBg: hsla(39, 100%, 56%, 0.1);
$verbalColor: hsl(166, 100%, 37%);
$verbalBg: hsla(166, 100%, 37%, 0.1);
$visualColor: hsl(234, 85%, 45%);
$visualBg: hsla(234, 85%, 45%, 0.1);

// Gradients
$background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$circleBg: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

// Neutral
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGreyBlue: hsl(224, 30%, 27%);
